<template>
  <v-layout column fill-height class="pt-5 mt-5">
    <v-flex xs11 mt-5 pl-5>
      <Popular ref="popular" :config="config"></Popular>
    </v-flex>
  </v-layout>
</template>
<script>
import Popular from '@/components/Popular'
import axios from 'axios'

export default {
  components: { Popular },
  data () {
    return {
      message: null,
      config: null,
      status: {
        ready: false
      }
    }
  },
  methods: {
    async getconfig () {
      this.status.ready = false

      let result = await axios.get('https://api.themoviedb.org/3/configuration?api_key=6f26fd536dd6192ec8a57e94141f8b20')
      this.config = result.data.images
      this.$nextTick(() => {
        this.$refs.popular.getImages()
      })
    }
  },
  created: function () {
    this.getconfig()
  }
}
</script>
