<template>
  <v-app>
    <v-content id="app">
      <v-container black fill-height fluid pa-0 ma-0>
        <router-view style="margin-top: -70px; margin-bottom: 30px;"/>
      </v-container>
    </v-content>
  </v-app>
</template>
<style>
  #app{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
  }
</style>
